*{
  font-family:'San Francisco'
}
/* input:disabled{
  color:turquoise
} */

input[type="checkbox"] {
  cursor: pointer;
}

.newDeckContainer {
  height: 230px;
  width: 307px;
  padding: 10px 0px 0px 0px;
  margin: 10px 0 0 20px;
  background-color: #dcc9b6;
  position: absolute;
  transform-origin: 0px 215px;
}

.divStyling {
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  width: 140px;
  padding: 5px;
  margin-bottom: 10px
}

.addNewCardsButton {
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: grey;
  position: absolute;
  left: -20px;
  top: 192px;
  z-index: 3;
  border: none !important;
  
}


.menuIcon {
  font-weight: bold;
  border: 2px black solid;
  width: 48%;
  margin-bottom: 3px;
  border-radius: 12px;
  position: absolute;
  transition: 1s all;
  background-color: black;
}

.menuContainer {
  width: 100%;
  margin-top: 1px;
  position: relative;
  height: 20px;
}

.flexColumnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexAlignCenter {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumnSpaceAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.menu {
  width: fit-content;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
}

.transPlus {
  transform: rotate(135deg);  
}

.rotateLittleModal {
  transform: rotate(90deg) !important;
  font-weight: bold !important;
  font-size: 23px !important;
  cursor:pointer;
  margin-right: 21px;
}

.modNew {
  background-color: transparent !important; 
  /* background-color: blue !important; */
  border: none !important;
  padding: 0px !important;
  position: absolute;
  top: -390px;
  margin: auto;
  width:99% !important;
  
}

.customDialog{
  left:100px;
}

.inputStyling {
  width: 49px; 
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}

.myDiv{
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAe0lEQVQoU03PURECMQxF0RMbrIzFBjbQUR3YwAYrA2xkJ2l3hn61fZl7XwI7jkAyghd+5jtjBXvwwKgAN3zReZ0K3sGx3omtSDVQ2FE/MXWf7OskFaJw7Sxtcr9I3Wl1aGcQf6TudKEy2HKRSlmderuY2B4sXfK8tqlOJ205I9rLApoiAAAAAElFTkSuQmCC
  ) repeat;
}


input[type=number]  {
  -moz-appearance:textfield; 
  text-align: center;
  cursor: pointer;
}
 
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
-webkit-appearance: auto;
opacity: 1;
cursor: pointer;
}


 
.transMinus {
  transform: rotate(-135deg); 
} 

.menuStyling {
  display: flex;
  cursor: pointer; 
  background-color: #dcc9b6;
  border: 2px black solid;
  border-radius: 5px;
  margin: auto;
  margin-top: -12px;
  width: 83%
}


.link, .link:visited, .link:active, .link:hover{
  color: black;
  cursor: pointer;
}

.inputGro {
  display: flex; 
  flex-direction: column; 
  height: 150px; 
  width: 400px;
}

.form {
  width: 70% !important;
  height: 300px;
  resize: none;
}


.showAnswer {
width: 30%; 
background-color: grey; 
outline: none;

}

.openDeck {
   margin-top: -20px !important; 
  outline: none !important;
  width: 110px;

}
.openDeck:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.cardBod {
  border: 2px solid grey !important;
}

.buttonGr {
  display: flex !important;
  justify-content: space-around !important;
}


.mod {
  background-color: rgba(200, 168, 115, 0.95) !important;
  border-radius: 20px !important;
  height: 500px; 
  width: 400px !important;
  margin-top: 90px !important;
  margin: auto;
  /* overflow: hidden scroll; */
}

.weeklyTarget {
  width: 190px;
  margin-top: 5px;
  height: 20px;
  font-size: 14px; 
  font-weight: normal;
  margin: auto;
}

.questionAnswerStyling {
  font-weight: bold; 
  margin-left: 12px; 
  margin-bottom: 10px;
}

.redCross {
  background-color: transparent !important; 
  /* background-color transparent needed when using a window with opacity */
  border-radius: 8px;
  color: red !important;
  font-size: 23px !important;
  font-weight: bold !important;
  background-color: rgba(200, 168, 115, 0.95);
  border: none !important;
  outline: none !important;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:5px
}

.redCross:active {
  background: #b07d62;
  border-radius: 50%;

}

.buttonStyling {
  background-color: white !important;
  border: none; 
  color: black !important;
  
}

.buttonStyling:hover {
  background-color: #a39171 !important;
}

.deleteContainerNoAndYes:hover {
  background-color: grey;
  color: white;
  cursor: pointer
}

.title1{
  top: -10px;
  position: absolute;
  background-color: yellow;
}

.blinkingIcon {
  animation: blinker 1.3s linear infinite;
  animation-iteration-count: 2;
}

.saveAndDiscardContainer {
  width: 166px;
  height: 71px;
  top: 314px;
  position: absolute;
  border: 1px grey solid;
  border-radius: 5px;
  margin-top: 20px;
}

.form-control {
  resize:none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.generalButtonStyling {
  /* width: 63px;
  height: 24px; */
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  outline: none !important;
  border: none;
}

.deleteContainerFr {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6) !important;
  position: absolute;
  top: 0;
  border-radius: 18px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  top: -82px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.deleteContainerInner {
  position: absolute;
  top: 188px;
  height: 206px;
  width: 252px;
  height: 160px;
  background-color: white;
  border-radius: 10px;
}

.deleteYesAndNoContainer {
  width: 245px;
  z-index: 2; 
  height: 50px; 
  position: absolute; 
  top: 115px;
}

.deleteContainerNoAndYes {
  border: 2px solid grey; 
  color: grey;
  width: 60px;
  height: 35px;
  border-radius: 12px;
}


.outline-none:focus{
  outline:none !important;
}

.createNewDeck {
  height: 160px;
  width: 280px;
  background-color: rgba(200, 168, 115,0.95);
  top: 166px;
  position: absolute;
  border-radius: 5px
}

.changeRepetitionContainer {
width: 290px;
height: 75px;
border: 1px black solid;
margin-top: 15px;
border-radius: 5px;
position: relative;
margin-top: 10px
}

.contUpperLower {
  position: relative;
  width: 100%;
  height: 50%;
}

.changeRepetitionIntervalContainerInner {
 width: 260px;
height: 68px;
/*border: 1px black solid;*/
margin-top: 3px;
border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1;*/
  background: rgba(184, 156, 110, 0.95);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.themeRadiosContainer {
  border: 1px solid black;
  width: 215px;
  border-radius: 5px;
  margin-top: 10px; 
  padding: 2px;
}

.pos {
  position: absolute;
  height: 800px;
  top: 0px;
  left: 0px;
}


.blackArrow {
  width: 2px;
  height: 5px; 
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  position: absolute; 
  top: 0px;
  left: 26px;
}

.number {
  width: 100px;
  position: absolute; 
  top: 5px;
  left: -16px;
  font-weight: normal; 
  font-size: 14px;
}

.calendarButtons {
  width: 20px !important;
  height: 20px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}


.selected svg{
  fill: green;
}

.theWordCalendar {
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
}

.yearBoxContainer {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 210px;
}

.diagramHourlyBreakdownContainer {
  width: 280px; 
  border: 1px solid black; 
  height: 190px; 
  position: relative ;
  margin: auto;
  padding: 4px;
  padding-top: 10px;
}

.progressBar {
  background-color: black; 
  padding: 3px; 
  height: 16px; 
  width: 146px; 
  margin-left: 37px; 
}

.time {
  margin-left: 10px ;
  border: 1px solid black;
  width: 65px;
  padding: 1px;
}

.yearBoxContainer {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 210px;
}

.day {
  width: 10px;
  height: 10px;
  border: 1px black solid;
  box-sizing: border-box;
  margin: 1px;
  position: relative;
}
.day > div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 120px;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  padding: 5px;
}

#deleteWindow .modal-header {

  background-color: rgba(200, 168, 115, 0.95) !important; 
  width: 300px !important; 
  height: 45px;
  font-weight: bold; 
  display: flex;
  align-items: center;
  color: white;
}

#deleteWindow, #createDeck .modal-footer,
#createDeck .modal-header {
    border-top: 0px;
    border-bottom: 0px;
}


.close {
  outline: none !important;
}




.yearBoxContainer {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 210px;
}

.deleteWindow #modal {
  background-color: rgba(0, 0, 0, 0.7)
}

.modal-title {
  height: 50px;
}

#createDeck .modal-header {
height: 33px;

}

.backgroundModal {
  background-color: rgba(0, 0, 0, 0.3);
  width:100% !important;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.widthFitCOntetn{
  width:fit-content !important;
}
#createDeck .modal-body {
  padding: 10px;
}


#createDeck .modal-title {
  height: 30px;
  background-color: rgba(200, 168, 115, 0.95) !important;
  font-size: 17px;
  font-weight: bold; 
  background-color: transparent !important;
  padding-left: 28px;
  width: 175px;
}

#createDeck .modal-content {
  width: 50%;
  height: 160px;
  background-color: rgba(200, 168, 115, 0.95) !important; 
  align-items: center;
  margin: auto;
  top: -170px;
}


.stylesNewDeck {  

  background-color: rgba(200, 168, 115, 0.95) !important; 
  position: absolute !important;
  left: 36% !important;
  width: 507px !important;
  top: 20% !important;
  height: 100% !important;
}

.modal-footer {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-end;
padding: .75rem;
/* border-top: 1px solid #dee2e6; */
border-bottom-right-radius: calc(.3rem - 1px);
border-bottom-left-radius: calc(.3rem - 1px);
}

.threeDotsBtnIndex {
    position: absolute ;
    top: -5px;
    left: 10px;
    z-index: 2000;
    background-color: white; 
    border: 1px solid black;
    overflow: hidden;
}

.spinner {
  margin: auto;
  /* position: absolute;
  left: 30px; */
}
